@use "styles/mixins/types-mixin";

:host {

    .card {
        transition: 0.1s;
        box-shadow: 0 1px 3px 0 rgb(37 32 31 / 30%);
        background-color: #fafafa;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 6px;
        min-height: 276px;
        border-radius: 5px;
        padding: 12px 10px;

        &:hover {
            transition: 0.1s;
            box-shadow: 3px 4px 14px 0 rgba(37, 32, 31, .35);
        }

        img {
            object-fit: contain;
            height: 180px;
            width: 180px;
            margin-bottom: 10px;
        }

        .name {
            font-size: 20px;
            line-height: 22px;
            margin: 2px 0 6px 0;
        }

        .types {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            .pill {
                border-radius: 3px;
                line-height: 18px;
                max-width: 110px;
                text-transform: none;
                font-size: 12px;
                text-align: center;
                padding: 0 3px 0 3px;
                width: 30%;

                @extend %types-colors;

                + .pill {
                    margin-left: 6px;
                }
            }
        }

        .actions {
            margin-top: 6px;
            display: flex;
            align-items: center;

            span {
                position: relative;

                + span {
                    margin-left: 6px;
                }

                .tooltip {
                    visibility: hidden;
                    display: none;
                    position: absolute;
                    z-index: 1;
                    min-width: 180px;
                    text-align: center;
                    border-radius: 6px;
                    margin-top: calc(-100% - 15px);
                    margin-left: calc(-50% - 66px);
                    background-color: #fafafa;
                    box-shadow: 0px 0px 3px 1px #d8d8d8;
                    white-space: pre-line;
                    padding: 3px 8px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:hover {
                    .tooltip {
                        visibility: visible;
                        display: inline-block;
                    }
                }
            }


            svg {
                height: 24px;
                width: 24px;

                :hover {
                    cursor: pointer;
                }
            }

        }
    }
}
