/** Fonts **/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

html {
  font-smoothing: antialiased;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #ebf2f5;
  height: 100%;
  margin: 0;
}

body,
div {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  color: #004c75;
  font-size: 14px;
  font-weight: 400;
}
