:host {

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        input {
            padding: 12px;
            min-width: 300px;
            background: #fff;
            font-size: 16px;
            color: #7b7b7b;
            border: 1px solid #dfe6eb;
            border-radius: 5px;
            margin-bottom: 10px;

            &:focus {
                outline: none;
            }
        }

        h2 {
            margin-bottom: 6px;
            font-weight: 400;
        }
    }

    .list {

        .list-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    ::ng-deep {

        mat-paginator {
            background: transparent;
            margin: 10px auto;
            display: flex;
            justify-content: center;

            button {
                background: transparent;

                &:not(.mat-button-disabled) {
                    color: #004c75;
                }
            }

            .mat-paginator-range-actions {

                .mat-paginator-range-label {
                    order: 2;
                }

                .mat-paginator-navigation-previous {
                    order: 1;
                }

                .mat-paginator-navigation-next {
                    order: 3;
                }
            }
        }
    }
}
