@mixin type-color($color, $background1, $background2) {
    background: -webkit-linear-gradient(180deg, $background1 50%, $background2 50%);
    background: -ms-linear-gradient(180deg, $background1 50%, $background2 50%);
    background: -moz-linear-gradient(180deg, $background1 50%, $background2 50%);
    background: -o-linear-gradient(180deg, $background1 50%, $background2 50%);
    background: linear-gradient(180deg, $background1 50%, $background2 50%);
    background-color: $background1;
    color: $color;
}

%types-colors {
    &.bug {
        @include type-color(#fff, #729f3f, #729f3f);
    }

    &.poison {
        @include type-color(#fff, #b97fc9, #b97fc9);
    }

    &.water {
        @include type-color(#fff, #4592c4, #4592c4);
    }

    &.electric {
        @include type-color(#212121, #eed535, #eed535);
    }

    &.flying {
        @include type-color(#212121, #3dc7ef, #3dc7ef);
    }

    &.fire {
        @include type-color(#fff, #fd7d24, #fd7d24);
    }

    &.normal {
        @include type-color(#212121, #a4acaf, #a4acaf);
    }

    &.ground {
        @include type-color(#212121, #f7de3f, #ab9842);
    }

    &.fairy {
        @include type-color(#212121, #fdb9e9, #fdb9e9);
    }

    &.grass {
        @include type-color(#212121, #9bcc50, #9bcc50);
    }

    &.fighting {
        @include type-color(#fff, #d56723, #d56723);
    }

    &.psychic {
        @include type-color(#fff, #f366b9, #f366b9);
    }

    &.dragon {
        @include type-color(#fff, #53a4cf, #f16e57);
    }

    &.ghost {
        @include type-color(#fff, #7b62a3, #7b62a3);
    }

    &.dark {
        @include type-color(#fff, #707070, #707070);
    }

    &.ice {
        @include type-color(#212121, #51c4e7, #51c4e7);
    }

    &.rock {
        @include type-color(#fff, #a38c21, #a38c21);
    }

    &.steel {
        @include type-color(#fff, #9eb7b8, #9eb7b8);
    }
}
